In [7]:
import pandas as pd
import numpy as np
import os, sys, inspect
import pprint
###from alphatools.research import loaders
from zipline.pipeline.data import Column
from zipline.pipeline.data import DataSet
from zipline.pipeline.loaders.frame import DataFrameLoader
###from alphatools.research import (
###    get_pricing,
###    run_pipeline,
###    make_factor_plot,
###    make_quantile_plot
###)

In [ ]:
#Test
##from alphatools.fundamentals import Fundamentals
##fd= Fundamentals()
##print(fd.DE.latest, fd.MarketCap.latest)

In [ ]:
#enac_fundamentals_pkl

In [ ]:
##from os import path
##myfile_path = sys.path.join(path.dirname(cur_path), 'myfile.txt')
#
#cur_folder    = os.path.realpath(os.path.abspath(os.path.split(inspect.getfile( inspect.currentframe() ))[0]))
#FUND_FRAME_FILE ='sharadar_with_sid-mcap-de-2020-03-27.pkl'
#enac_fundamentals_pkl = os.path.realpath(os.path.abspath(os.path.join(cur_folder,FUND_FRAME_FILE)))
##enac_fundamentals_pkl = os.path.realpath(os.path.abspath(os.path.join(cur_folder,'sharadar_with_sid-2020-03-04.pkl')))
##enac_fundamentals_pkl = os.path.realpath(os.path.abspath(os.path.join(cur_folder,'sharadar_with_sid.pkl')))
#
#if cur_folder not in sys.path:
#    sys.path.insert(0, cur_folder)
#print ("cur_folder=", cur_folder)
#print ("enac_fundamentals_pkl=", enac_fundamentals_pkl)

In [10]:
import os

hca_root_path = os.environ['ZIPLINE_ROOT']
hca_fundies_path = hca_root_path + '/data/fundem-sharadar-sf1/2021-04-16T01;50;05' + '/quandal_sharadar_sf1.pkl'
print(f"hca_root_path = {hca_root_path}")
print(f"hca_fundies_path = {hca_fundies_path}")

hca_root_path = /home/hca-ws2004/zipline-broker
hca_fundies_path = /home/hca-ws2004/zipline-broker/data/fundem-sharadar-sf1/2021-04-16T01;50;05/quandal_sharadar_sf1.pkl

In [11]:
df_orig = pd.read_pickle(hca_fundies_path)
#df_orig = pd.read_pickle('/home/ubuntu/hca/alphatools/alphatools/fundamentals/sharadar_with_sid-mcap-de-2020-03-27.pkl')
#df = pd.read_pickle('//home/ubuntu/.zipline/data/fundem-sharadar-sf1/2020-05-06T01;32;33/quandal_sharadar_sf1.pkl')

In [ ]:
#print(df.columns)
#df[['marketcap','sid']]
#df['sid'].astype({'sid': 'Int64'}).dtypes
###df['sid'] = df.sid.fillna(-1).astype(int)

In [12]:
#df.isnull().sum(axis = 0)
df_orig[df_orig['ticker']=='AAPL']

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital,sid
606,AAPL,ARQ,2016-03-31,2016-04-27,2016-03-26,2021-01-28,-1.048000e+09,3.052770e+11,NaN,8.759200e+10,...,2.205752e+10,2.216354e+10,2.292,2.961850e+11,0.0,3.626000e+09,0.0,13.428,1.932700e+10,29
607,AAPL,ARQ,2016-06-30,2016-07-27,2016-06-25,2021-01-28,-1.070000e+08,3.056020e+11,NaN,9.376100e+10,...,2.177223e+10,2.189112e+10,1.946,2.968350e+11,0.0,2.673000e+09,0.0,13.634,2.227500e+10,29
608,AAPL,ARQ,2016-09-30,2016-10-26,2016-09-24,2021-01-28,6.340000e+08,3.216860e+11,NaN,1.068690e+11,...,2.146765e+10,2.157332e+10,2.182,3.130660e+11,0.0,3.174000e+09,0.0,14.583,2.786300e+10,29
609,AAPL,ARQ,2016-12-31,2017-02-01,2016-12-31,2021-01-28,2.450000e+08,3.311410e+11,NaN,1.033320e+11,...,2.119464e+10,2.131198e+10,3.697,3.228700e+11,0.0,6.289000e+09,0.0,15.234,1.920200e+10,29
610,AAPL,ARQ,2017-03-31,2017-05-03,2017-04-01,2021-01-28,-4.220000e+08,3.345320e+11,NaN,1.019900e+11,...,2.090316e+10,2.104675e+10,2.531,3.264420e+11,0.0,3.655000e+09,0.0,15.617,2.864800e+10,29
611,AAPL,ARQ,2017-06-30,2017-08-02,2017-07-01,2021-01-28,-5.450000e+08,3.451730e+11,NaN,1.128750e+11,...,2.078035e+10,2.093400e+10,2.185,3.370680e+11,0.0,2.591000e+09,0.0,16.221,3.157300e+10,29
612,AAPL,ARQ,2017-09-30,2017-11-03,2017-09-30,2021-01-28,-1.500000e+08,3.753190e+11,NaN,1.286450e+11,...,2.059771e+10,2.073434e+10,2.553,3.673040e+11,0.0,3.203000e+09,0.0,17.832,2.783100e+10,29
613,AAPL,ARQ,2017-12-31,2018-02-02,2017-12-30,2021-01-28,-8.410000e+08,4.067940e+11,NaN,1.438100e+11,...,2.045151e+10,2.063115e+10,4.317,3.987560e+11,0.0,6.965000e+09,0.0,19.498,2.802200e+10,29
614,AAPL,ARQ,2018-03-31,2018-05-02,2018-03-31,2021-01-28,-3.064000e+09,3.675020e+11,NaN,1.300530e+11,...,2.009951e+10,2.027397e+10,3.042,3.675020e+11,0.0,2.346000e+09,0.0,18.284,4.073300e+10,29
615,AAPL,ARQ,2018-06-30,2018-08-01,2018-06-30,2021-01-28,-3.111000e+09,3.491970e+11,NaN,1.157610e+11,...,1.952867e+10,1.970644e+10,2.728,3.491970e+11,0.0,1.765000e+09,0.0,17.881,2.721300e+10,29
616,AAPL,ARQ,2018-09-30,2018-11-05,2018-09-29,2021-01-28,-3.454000e+09,3.657250e+11,NaN,1.313390e+11,...,1.920635e+10,1.939019e+10,3.275,3.657250e+11,0.0,2.296000e+09,0.0,19.042,1.447300e+10,29
617,AAPL,ARQ,2018-12-31,2019-01-30,2018-12-29,2021-01-28,-3.588000e+09,3.737190e+11,NaN,1.408280e+11,...,1.894328e+10,1.909301e+10,4.451,3.737190e+11,0.0,3.941000e+09,0.0,19.728,3.254500e+10,29
618,AAPL,ARQ,2019-03-31,2019-05-01,2019-03-30,2021-01-28,-1.499000e+09,3.419980e+11,NaN,1.233460e+11,...,1.869628e+10,1.880258e+10,3.103,3.419980e+11,0.0,2.232000e+09,0.0,18.292,2.957400e+10,29
619,AAPL,ARQ,2019-06-30,2019-07-31,2019-06-29,2021-01-28,-6.390000e+08,3.222390e+11,NaN,1.349730e+11,...,1.828253e+10,1.840552e+10,2.943,3.222390e+11,0.0,1.867000e+09,0.0,17.626,4.526900e+10,29
620,AAPL,ARQ,2019-09-30,2019-10-31,2019-09-28,2021-01-28,-5.840000e+08,3.385160e+11,NaN,1.628190e+11,...,1.796324e+10,1.808150e+10,3.565,3.385160e+11,0.0,2.441000e+09,0.0,18.845,5.710100e+10,29
306996,AAPL,ARQ,2019-12-31,2020-01-29,2019-12-28,2021-01-28,-4.180000e+08,3.406180e+11,NaN,1.632310e+11,...,1.766016e+10,1.781842e+10,5.199,3.406180e+11,0.0,3.682000e+09,0.0,19.287,6.107000e+10,29
343035,AAPL,ARQ,2020-03-31,2020-05-01,2020-03-28,2021-01-28,-2.789000e+09,3.204000e+11,NaN,1.437530e+11,...,1.744040e+10,1.761876e+10,3.344,3.204000e+11,0.0,1.886000e+09,0.0,18.371,4.765900e+10,29
369886,AAPL,ARQ,2020-06-30,2020-07-31,2020-06-27,2021-01-28,-5.500000e+08,3.173440e+11,NaN,1.400650e+11,...,1.725029e+10,1.741915e+10,3.460,3.173440e+11,0.0,1.884000e+09,0.0,18.396,4.474700e+10,29
398392,AAPL,ARQ,2020-09-30,2020-10-30,2020-09-26,2021-01-28,-4.060000e+08,3.238880e+11,NaN,1.437130e+11,...,1.705762e+10,1.725652e+10,3.793,3.238880e+11,0.0,2.228000e+09,0.0,18.988,3.832100e+10,29
425908,AAPL,ARQ,2020-12-31,2021-01-28,2020-12-26,2021-01-28,1.790000e+08,3.540540e+11,NaN,1.541060e+11,...,1.693512e+10,1.711369e+10,6.580,3.540540e+11,0.0,4.824000e+09,0.0,20.906,2.159900e+10,29

In [13]:
#df.head()
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101684 entries, 0 to 472370
Columns: 112 entries, ticker to sid
dtypes: float64(105), int64(1), object(6)
memory usage: 87.7+ MB

In [40]:
df_orig

              Date ticker     marketcap      de   sid
0       2014-06-04      A  1.914584e+10   0.959     0
1       2014-09-02      A  1.936708e+10   0.841     0
2       2014-12-22      A  1.404328e+10   1.044     0
3       2015-03-10      A  1.364397e+10   0.774     0
4       2015-06-05      A  1.343096e+10   0.782     0
5       2015-09-02      A  1.177476e+10   0.767     0
6       2015-12-21      A  1.356254e+10   0.794     0
7       2016-03-08      A  1.248476e+10   0.804     0
8       2016-06-07      A  1.489262e+10   0.835     0
9       2016-09-07      A  1.528177e+10   0.780     0
10      2016-12-20      A  1.486797e+10   0.838     0
11      2017-03-08      A  1.656949e+10   0.831     0
12      2017-06-06      A  1.931238e+10   0.833     0
13      2017-09-06      A  2.082549e+10   0.792     0
14      2017-12-21      A  2.181018e+10   0.743     0
15      2018-03-06      A  2.196388e+10   0.923     0
16      2018-05-31      A  1.981144e+10   0.903     0
76      2016-06-29     AA           NaN   0.519    -1
77      2016-08-12     AA           NaN   0.519    -1
78      2016-09-01     AA           NaN   0.519    -1
79      2016-09-13     AA           NaN   0.519    -1
80      2016-09-29     AA           NaN   0.519    -1
81      2016-10-11     AA           NaN   0.519    -1
82      2016-10-26     AA           NaN   0.519    -1
83      2016-12-01     AA  5.281265e+09   1.172     1
84      2017-02-08     AA  6.864913e+09   1.172     1
85      2017-03-15     AA  6.472955e+09   1.600     1
86      2017-05-10     AA  5.726185e+09   1.517     1
87      2017-08-03     AA  6.837153e+09   1.466     1
88      2017-10-27     AA  8.864449e+09   1.559     1
...            ...    ...           ...     ...   ...
422637  2019-01-09    JBL  3.720899e+09   5.747  5292
422641  2019-01-09   SCHN  6.364674e+08   0.645  8568
422645  2019-01-09   HELE  2.863551e+09   0.670  4575
422649  2019-01-09    GBX  1.263276e+09   0.887  4064
422653  2019-01-09    MSM  4.254011e+09   0.646  6462
422657  2019-01-09    FDS  7.808302e+09   1.524  3667
422661  2019-01-09    SLP  3.558301e+08   0.298  8848
422665  2019-01-09   PSMT  1.908533e+09   0.668  7861
422669  2019-01-09    AYI  4.672994e+09   0.722  1071
422673  2019-01-09   CYDY  1.669664e+08  -3.529  2736
422677  2019-01-09   LOOP  3.329862e+08   1.856  5860
422681  2019-01-09    SAR  1.630204e+08   1.620  8493
422685  2019-01-09   TZAC  8.116374e+07   0.447  9933
422689  2016-10-14   PHUN           NaN   0.332    -1
422690  2017-02-14   PHUN  9.019187e+07   0.355  7572
422691  2017-04-13   PHUN  9.190380e+07   0.359  7572
422692  2017-07-07   PHUN  9.100279e+07   0.366  7572
422693  2017-10-11   PHUN  9.163350e+07   0.427  7572
422694  2018-02-12   PHUN  9.226421e+07   0.493  7572
422695  2018-04-12   PHUN  9.307513e+07   0.649  7572
422696  2018-07-13   PHUN  5.900373e+07   0.497  7572
422697  2018-10-15   PHUN  4.159351e+07   0.546  7572
422743  2018-10-22   BCOW           NaN  11.805    -1
422744  2018-12-21   BCOW           NaN  11.791    -1
422769  2019-01-10   APOG  8.674515e+08   1.036   704
422773  2019-01-10   RELL  9.878487e+07   0.210  8160
422777  2019-01-10   EMMS  5.039467e+07   1.982  3300
422781  2019-01-10   FCEL  5.678078e+07   1.989  3639
422787  2019-01-10   HGSH  4.536535e+07   1.279  4604
422793  2019-01-10  CORVF  2.216957e+08   0.075  2385

[91222 rows x 5 columns]

In [5]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

In [8]:
missing_values_table(df)

Your selected dataframe has 112 columns.
There are 104 columns that have missing values.

                Missing Values  % of Total Values
ros                     205888               47.5
roic                    193349               44.6
roa                     193349               44.6
assetturnover           193339               44.6
roe                     193316               44.6
assetsavg               192250               44.3
invcapavg               192250               44.3
equityavg               192233               44.3
currentratio             93465               21.5
workingcapital           93309               21.5
liabilitiesnc            93261               21.5
liabilitiesc             93243               21.5
debtc                    93243               21.5
debtnc                   93243               21.5
assetsnc                 92616               21.4
investmentsc             92612               21.4
investmentsnc            92612               21.4
assetsc                  92612               21.4
shareswadil              83965               19.4
ps                       33814                7.8
ps1                      33740                7.8
ebitdamargin             33530                7.7
netmargin                32290                7.4
grossmargin              32284                7.4
retearn                  15688                3.6
pe1                      14350                3.3
payoutratio              13555                3.1
evebitda                 10294                2.4
evebit                    8626                2.0
pe                        8375                1.9
...                        ...                ...
divyield                  1516                0.3
price                     1255                0.3
tbvps                      778                0.2
bvps                       760                0.2
assets                     580                0.1
tangibles                  580                0.1
receivables                580                0.1
invcap                     580                0.1
intangibles                580                0.1
inventory                  580                0.1
investments                578                0.1
ppnenet                    578                0.1
taxassets                  578                0.1
de                         576                0.1
cashnequsd                 574                0.1
cashneq                    574                0.1
liabilities                566                0.1
equity                     562                0.1
equityusd                  562                0.1
debt                       546                0.1
taxliabilities             546                0.1
accoci                     546                0.1
payables                   546                0.1
debtusd                    546                0.1
deferredrev                546                0.1
deposits                   546                0.1
sharesbas                  302                0.1
shareswa                   233                0.1
dps                        118                0.0
sharefactor                  6                0.0

[104 rows x 2 columns]

In [7]:
non_bundle_assets=(df.sid==-1)
df=df[~(non_bundle_assets)]
print(non_bundle_assets.value_counts())
#non_bundle_assets.sum()

False    433768
True      22010
Name: sid, dtype: int64

In [41]:
non_bundle_assets=(df_orig.sid==-1)
df_orig=df_orig[~(non_bundle_assets)]
print(non_bundle_assets.value_counts())

False    85567
True      5655
Name: sid, dtype: int64

In [13]:
df.reset_index(inplace=True)

#df_eq = df[['ticker','sideq','sid']].copy()
#df_eq[sid==8]

In [14]:
df.head()

,Date,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,...,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital,sid
0,2015-03-31 00:00:00+00:00,A,ARQ,2015-03-31,2015-06-05,2015-04-30,2020-03-03,-270000000.0,7.412000e+09,NaN,...,334000000.0,337000000.0,2.883,4.555000e+09,0.0,8000000.0,0.0,13.638,2.690000e+09,0
1,2015-06-30 00:00:00+00:00,A,ARQ,2015-06-30,2015-09-02,2015-07-31,2020-03-03,-332000000.0,7.251000e+09,NaN,...,332000000.0,334000000.0,3.054,4.401000e+09,0.0,23000000.0,0.0,13.256,2.625000e+09,0
2,2015-09-30 00:00:00+00:00,A,ARQ,2015-09-30,2015-12-21,2015-10-31,2020-03-03,-391000000.0,7.479000e+09,NaN,...,330000000.0,332000000.0,3.136,4.668000e+09,0.0,0.0,0.0,14.145,2.710000e+09,0
3,2015-12-31 00:00:00+00:00,A,ARQ,2015-12-31,2016-03-08,2016-01-31,2020-03-03,-438000000.0,7.302000e+09,NaN,...,329000000.0,332000000.0,3.125,4.311000e+09,0.0,19000000.0,0.0,13.103,2.452000e+09,0
4,2016-03-31 00:00:00+00:00,A,ARQ,2016-03-31,2016-06-07,2016-04-30,2020-03-03,-299000000.0,7.640000e+09,NaN,...,326000000.0,328000000.0,3.126,4.594000e+09,0.0,26000000.0,0.0,14.092,2.355000e+09,0

In [42]:
df_orig

              Date ticker     marketcap     de   sid
0       2014-06-04      A  1.914584e+10  0.959     0
1       2014-09-02      A  1.936708e+10  0.841     0
2       2014-12-22      A  1.404328e+10  1.044     0
3       2015-03-10      A  1.364397e+10  0.774     0
4       2015-06-05      A  1.343096e+10  0.782     0
5       2015-09-02      A  1.177476e+10  0.767     0
6       2015-12-21      A  1.356254e+10  0.794     0
7       2016-03-08      A  1.248476e+10  0.804     0
8       2016-06-07      A  1.489262e+10  0.835     0
9       2016-09-07      A  1.528177e+10  0.780     0
10      2016-12-20      A  1.486797e+10  0.838     0
11      2017-03-08      A  1.656949e+10  0.831     0
12      2017-06-06      A  1.931238e+10  0.833     0
13      2017-09-06      A  2.082549e+10  0.792     0
14      2017-12-21      A  2.181018e+10  0.743     0
15      2018-03-06      A  2.196388e+10  0.923     0
16      2018-05-31      A  1.981144e+10  0.903     0
83      2016-12-01     AA  5.281265e+09  1.172     1
84      2017-02-08     AA  6.864913e+09  1.172     1
85      2017-03-15     AA  6.472955e+09  1.600     1
86      2017-05-10     AA  5.726185e+09  1.517     1
87      2017-08-03     AA  6.837153e+09  1.466     1
88      2017-10-27     AA  8.864449e+09  1.559     1
89      2018-02-26     AA  8.690678e+09  2.354     1
90      2018-05-09     AA  9.973523e+09  1.784     1
91      2018-08-02     AA  7.921375e+09  1.873     1
160     2014-11-12    AAC  5.270334e+08  2.260     4
161     2015-03-11    AAC  5.370464e+08  0.441     4
162     2015-05-05    AAC  6.988668e+08  0.897     4
163     2015-08-03    AAC  7.348013e+08  0.945     4
...            ...    ...           ...    ...   ...
422625  2019-01-09   NTIC  1.226388e+08  0.114  6937
422629  2019-01-09   BBBY  1.685412e+09  1.596  1143
422633  2019-01-09     FC  3.159158e+08  1.554  3627
422637  2019-01-09    JBL  3.720899e+09  5.747  5292
422641  2019-01-09   SCHN  6.364674e+08  0.645  8568
422645  2019-01-09   HELE  2.863551e+09  0.670  4575
422649  2019-01-09    GBX  1.263276e+09  0.887  4064
422653  2019-01-09    MSM  4.254011e+09  0.646  6462
422657  2019-01-09    FDS  7.808302e+09  1.524  3667
422661  2019-01-09    SLP  3.558301e+08  0.298  8848
422665  2019-01-09   PSMT  1.908533e+09  0.668  7861
422669  2019-01-09    AYI  4.672994e+09  0.722  1071
422673  2019-01-09   CYDY  1.669664e+08 -3.529  2736
422677  2019-01-09   LOOP  3.329862e+08  1.856  5860
422681  2019-01-09    SAR  1.630204e+08  1.620  8493
422685  2019-01-09   TZAC  8.116374e+07  0.447  9933
422690  2017-02-14   PHUN  9.019187e+07  0.355  7572
422691  2017-04-13   PHUN  9.190380e+07  0.359  7572
422692  2017-07-07   PHUN  9.100279e+07  0.366  7572
422693  2017-10-11   PHUN  9.163350e+07  0.427  7572
422694  2018-02-12   PHUN  9.226421e+07  0.493  7572
422695  2018-04-12   PHUN  9.307513e+07  0.649  7572
422696  2018-07-13   PHUN  5.900373e+07  0.497  7572
422697  2018-10-15   PHUN  4.159351e+07  0.546  7572
422769  2019-01-10   APOG  8.674515e+08  1.036   704
422773  2019-01-10   RELL  9.878487e+07  0.210  8160
422777  2019-01-10   EMMS  5.039467e+07  1.982  3300
422781  2019-01-10   FCEL  5.678078e+07  1.989  3639
422787  2019-01-10   HGSH  4.536535e+07  1.279  4604
422793  2019-01-10  CORVF  2.216957e+08  0.075  2385

[85567 rows x 5 columns]

In [ ]:
#len(df_eq[df_eq.sid==8])

In [ ]:
###MarketCap_frame = df[['marketcap', 'ticker']].reset_index().set_index(['Date', 'ticker'])
###print(MarketCap_frame.head())
###len(MarketCap_frame)

In [ ]:
###type(MarketCap_frame)

In [ ]:
###MarketCap_frame.loc[MarketCap_frame.index[0]]
###MarketCap_frame.sort_index()

In [ ]:
###MarketCap_frame.columns

In [ ]:
#aapl_mc=MarketCap_frame[MarketCap_frame.ticker=='AAPL']
#aapl_mc.fillna(method='ffill')

In [ ]:
#MarketCap_frame = MarketCap_frame.sort_index().unstack()
#MarketCap_frame.columns = MarketCap_frame.columns.droplevel()

#(dfz.marketcap>0).value_counts()
#dfz[(dfz.sid==8)].marketcap

In [ ]:
#np.where(MarketCap_frame.index.duplicated())

In [ ]:
#I=MarketCap_frame.index

In [ ]:
#print(I.get_duplicates())
#MarketCap_frame.loc[MarketCap_frame.index[0],:][270]
#df

In [26]:
print(len(df))
df_subset = df[['Date','marketcap', 'sid']]
df_subset.info()

433768
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433768 entries, 0 to 433767
Data columns (total 3 columns):
Date         433768 non-null datetime64[ns, UTC]
marketcap    432220 non-null float64
sid          433768 non-null int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1)
memory usage: 9.9 MB

In [27]:
MarketCap_frame         = df_subset.reset_index().set_index(['Date', 'sid'],append=True).sort_index()

In [28]:
MarketCap_frame = MarketCap_frame.pivot_table(values='marketcap', index='Date', columns='sid', aggfunc='max', fill_value=None, margins=False, dropna=True, margins_name='All')
MarketCap_frame = MarketCap_frame.sort_index().fillna(method='ffill')

In [37]:
len(MarketCap_frame.index)

22

In [23]:
MarketCap_frame=MarketCap_frame.drop(columns=['index'])

In [34]:
MarketCap_frame.head(10)

sid,0,1,3,5,6,12,14,15,16,17,...,10890,10891,10892,10893,10894,10896,10897,10898,10899,10901
Date,,,,,,,,,,,,,,,,,,,,,
2015-03-31 00:00:00+00:00,1.389247e+10,NaN,NaN,118665929.0,698866752.0,3.676918e+10,506722909.0,82945484.0,2.509616e+09,2.208220e+08,...,NaN,2.314641e+10,1.616126e+09,938108895.0,NaN,438411138.0,NaN,NaN,NaN,6566959.0
2015-06-30 00:00:00+00:00,1.364420e+10,NaN,NaN,118665929.0,951332366.0,2.766692e+10,321596871.0,74957392.0,2.665075e+09,3.304312e+08,...,NaN,2.430827e+10,1.681737e+09,762267413.0,NaN,436569876.0,NaN,NaN,NaN,6254247.0
2015-09-30 00:00:00+00:00,1.356254e+10,NaN,NaN,118665929.0,528140320.0,2.878697e+10,52868643.0,100887881.0,2.620802e+09,2.861952e+08,...,NaN,2.263546e+10,1.681737e+09,466110685.0,NaN,370381096.0,NaN,NaN,124983011.0,6254247.0
2015-12-31 00:00:00+00:00,1.356254e+10,NaN,1.474893e+09,118665929.0,427083348.0,2.669429e+10,37978890.0,102531676.0,1.669254e+09,2.976202e+08,...,NaN,2.386035e+10,1.681737e+09,502131330.0,NaN,348405457.0,51108750.0,NaN,193474297.0,14072055.0
2016-03-31 00:00:00+00:00,1.489262e+10,NaN,1.474893e+09,119124985.0,506208808.0,2.472977e+10,31404885.0,90753331.0,1.858043e+09,2.542990e+08,...,NaN,2.349022e+10,1.681737e+09,427703742.0,NaN,463247175.0,51108750.0,NaN,86939235.0,10632220.0
2016-06-30 00:00:00+00:00,1.566085e+10,NaN,1.474893e+09,119124985.0,541316073.0,1.926765e+10,26131878.0,83129917.0,1.743632e+09,2.449332e+08,...,NaN,2.529178e+10,1.681737e+09,427133140.0,NaN,361224373.0,51108750.0,NaN,91171197.0,7505096.0
2016-09-30 00:00:00+00:00,1.486797e+10,NaN,1.474893e+09,119124985.0,412165398.0,2.103070e+10,55448242.0,75536344.0,1.849880e+09,3.914292e+08,...,NaN,2.574722e+10,1.681737e+09,619940006.0,NaN,335474906.0,51108750.0,NaN,141641407.0,10319507.0
2016-12-31 00:00:00+00:00,1.656949e+10,6.472955e+09,1.759053e+09,119124985.0,206106793.0,2.419126e+10,112565554.0,83702435.0,2.284648e+09,9.835771e+08,...,9.939814e+09,2.643486e+10,1.681737e+09,469312013.0,NaN,469386851.0,83632500.0,NaN,279625697.0,10896485.0
2017-03-31 00:00:00+00:00,1.931238e+10,6.336644e+09,1.759053e+09,114419229.0,202079419.0,2.166406e+10,117361806.0,81691696.0,2.636329e+09,1.180005e+09,...,9.939814e+09,2.889321e+10,1.681737e+09,447732971.0,NaN,496329124.0,83632500.0,NaN,265617983.0,13460363.0
2017-06-30 00:00:00+00:00,2.082549e+10,6.837153e+09,1.759053e+09,114419229.0,175403874.0,2.478707e+10,142077735.0,76554716.0,3.280309e+09,1.374389e+09,...,9.939814e+09,3.061591e+10,1.681737e+09,333043524.0,NaN,424897242.0,83632500.0,211589000.0,224848750.0,35253332.0

In [ ]:
#MarketCap_frame         = df_subset.reset_index().set_index(['Date', 'sid']).sort_index().drop(columns=['index']).unstack().sort_index()
MarketCap_frame_orig        = df_orig[['Date','marketcap', 'sid']].reset_index().set_index(['Date', 'sid']).sort_index().drop(columns=['index']).unstack().sort_index()
MarketCap_frame_orig.columns = MarketCap_frame_orig.columns.droplevel()
MarketCap_frame_orig.index   = pd.to_datetime(MarketCap_frame_orig.index)
MarketCap_frame_orig.index   = MarketCap_frame_orig.index.tz_localize('UTC')
MarketCap_frame_orig         = MarketCap_frame_orig.sort_index().fillna(method='ffill')

In [43]:
MarketCap_frame_orig        = df_orig[['Date','marketcap', 'sid']].reset_index().set_index(['Date', 'sid']).sort_index().drop(columns=['index']).unstack().sort_index()

In [46]:
len(MarketCap_frame_orig)
MarketCap_frame_orig.index

Index(['2014-03-13', '2014-03-14', '2014-03-19', '2014-03-20', '2014-03-21',
       '2014-03-24', '2014-03-25', '2014-03-26', '2014-03-27', '2014-03-28',
       ...
       '2018-12-27', '2018-12-28', '2018-12-31', '2019-01-02', '2019-01-03',
       '2019-01-04', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10'],
      dtype='object', name='Date', length=1204)

In [17]:
MarketCap_frame         = df_subset.reset_index().set_index(['Date', 'sid']).sort_index().drop(columns=['index']).unstack().sort_index()
#MarketCap_frame         = df[['Date','marketcap', 'sid']].reset_index().set_index(['Date', 'sid']).sort_index().drop(columns=['index']).unstack().sort_index()
MarketCap_frame.columns = MarketCap_frame.columns.droplevel()
MarketCap_frame.index   = pd.to_datetime(MarketCap_frame.index)
MarketCap_frame.index   = MarketCap_frame.index.tz_localize('UTC')
MarketCap_frame         = MarketCap_frame.sort_index().fillna(method='ffill')

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
DE_frame         = df[['Date','de', 'sid']].reset_index().set_index(['Date', 'sid']).sort_index().drop(columns=['index']).unstack().sort_index()
DE_frame.columns = DE_frame.columns.droplevel()
DE_frame.index   = pd.to_datetime(DE_frame.index)
DE_frame.index   = DE_frame.index.tz_localize('UTC')
DE_frame         = DE_frame.sort_index().fillna(method='ffill')

In [ ]:
#DE_frame.info()
DE_frame[(DE_frame > pd.Timestamp(year=2019, month=6, day=1))]
#DE_frame[(DE_frame >= '2019-05-01')]

In [ ]:
from datetime import datetime
#DE_frame['2014-03-21 00:00:00+00:00']
#DE_frame.loc('2019-01-09 00:00:00+00:00')
DE_frame[datetime(2018, 6, 1):datetime(2020, 1, 11)]

In [ ]:
#missing_values_table(MarketCap_frame).sum()

In [ ]:
#MarketCap_frame = MarketCap_frame.sort_index().fillna(method='ffill')
#missing_values_table(MarketCap_frame).sum()

In [ ]:
#MarketCap_frame.info()
#MarketCap_frame[('marketcap',21)]['2016-08-01':'2017-12-28']
#MarketCap_frame.columns = MarketCap_frame.columns.droplevel()

In [ ]:
#MarketCap_frame.info()

In [ ]:
#DE_frame = df[['de', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack()
#DE_frame.info()

In [ ]:
#DE_frame = df[['de', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
#DE_frame.columns = DE_frame.columns.droplevel()

#DE_frame.

In [ ]:

#MarketCap_frame = df[['marketcap', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
#MarketCap_frame.columns = MarketCap_frame.columns.droplevel()
#
#
#PriceToBook_frame = df[['pb', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
#PriceToBook_frame.columns = PriceToBook_frame.columns.droplevel()
#
#PriceToSales_frame = df[['ps', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
#PriceToSales_frame.columns = PriceToSales_frame.columns.droplevel()
#
#PriceToEarnings_frame = df[['pe', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
#PriceToEarnings_frame.columns = PriceToEarnings_frame.columns.droplevel()

class Fundamentals(DataSet):
    DE = Column(dtype=float)
    MarketCap = Column(dtype=float)
    #PriceToBook = Column(dtype=float)
    #PriceToSales = Column(dtype=float)
    #PriceToEarnings = Column(dtype=float)

# register the loaders
loaders[Fundamentals.DE] = DataFrameLoader(Fundamentals.DE, DE_frame)
loaders[Fundamentals.MarketCap] = DataFrameLoader(Fundamentals.MarketCap, MarketCap_frame)
#loaders[Fundamentals.PriceToBook] = DataFrameLoader(Fundamentals.PriceToBook, PriceToBook_frame)
#loaders[Fundamentals.PriceToSales] = DataFrameLoader(Fundamentals.PriceToSales, PriceToSales_frame)
#loaders[Fundamentals.PriceToEarnings] = DataFrameLoader(Fundamentals.PriceToEarnings, PriceToEarnings_frame)

In [ ]:

#X=loaders[Fundamentals.MarketCap]
fd=Fundamentals()

In [ ]:
fd.DE.graph_repr()

In [ ]:
#dir(Fundamentals.MarketCap._dataset)
#dir(
#Fundamentals.MarketCap._dataset.MarketCap.latest.top(10)
#)

In [ ]:
#from zipline.api import symbol, symbols
#from zipline.pipeline.filters import  StaticAssets

#aapl = symbol('AAPL')
#ibm = symbol('IBM')
## Set up a filter for two securities AAPL and IBM
#aapl_ibm = StaticAssets([aapl, ibm])

In [ ]:
#from zipline.pipeline import Pipeline, CustomFactor  
#import numpy as np
#
#class SidFactor(CustomFactor):  
#    inputs = []  
#    window_length = 1  
#    sids = []
#
#    def compute(self, today, assets, out):  
#        out[:] = np.in1d(assets, self.sids)
#
#  
#sid = SidFactor()  
#sid.sids = (21)
#

In [ ]:
# Make a function with our pipline datasets to return our pipeline

def make_pipeline():  
    # Create the factors we want use
    fd=Fundamentals()
   
    market_cap =  fd.MarketCap.latest 
    de= fd.DE.latest 
    # Create a filter to select our 'universe'
    # Our universe is made up of stocks that have a non-null sentiment signal that was updated in  
    # the last day, are not within 2 days of an earnings announcement, are not announced acquisition  
    # targets, and are in the Q1500US.

    universe = ((de >5)
                & (market_cap >5e8) ) 

    # Create our pipeline columns and filter to just our universe
    # Note that the 'longs' and 'shorts' columns are boolean filters creted from factors
    pipe = Pipeline(  
        columns={  
            'de': de,  
            'mcap': market_cap,   
        },  
        screen=universe  
    )  
    return pipe

In [ ]:
from alphatools.research import run_pipeline, make_factor_plot, make_quantile_plot
from alphatools.ics import Sector, SubIndustry
#from alphatools.fundamentals import Fundamentals
from zipline.pipeline.data import USEquityPricing as USEP
from zipline.pipeline.factors import Returns, AverageDollarVolume, CustomFactor
from zipline.pipeline import Pipeline

###universe = AverageDollarVolume(window_length=120).top(500) & (fd.MarketCap.latest > 5e9)
###my_factor = (
###    -Returns(mask=universe, window_length=5).
###    demean(groupby=Sector()).
###    rank()
###)

###universe = (fd.MarketCap.latest < 1e8) & (fd.DE.latest < 1.0)

#p = Pipeline(screen=sid.eq(8))
###p = Pipeline(screen=universe)
#p = Pipeline()
#p.add(USEP.close.latest, "Price")
#p.add(my_factor, '5d_MR_Sector_Neutral_Rank')
#p.add(Fundamentals.MarketCap.latest.zscore(), 'MCAP')
###fd=Fundamentals()
###p.add(fd.MarketCap.latest  , 'MCap')
###p.add(fd.DE.latest , 'DE')
#p.add(fd.MarketCap.latest >50000000   , 'MCap')
#p.add(fd.DE.latest >1.0  , 'DE')
#p.add(Fundamentals.PriceToBook.latest, 'PB')
#p.add(sid,'sid')

start_date = '2016-08-01'
end_date = '2017-12-28'

result_pipe = run_pipeline(make_pipeline(), start_date, end_date)

In [ ]:
missing_values_table(result_pipe)
result_pipe

In [ ]:
result_pipe[result_pipe.de > 15]

In [ ]:
result_pipe[result_pipe.mcap < 5e9]

In [ ]:
#No AAPL
mcap_appl=result_pipe.loc[[tpl for tpl in result_pipe.index if tpl[1].symbol=='AAPL']].fillna(method='ffill')
mcap_appl.mcap.unique()

In [ ]:
mcap_appl=result_pipe.loc[[tpl for tpl in result_pipe.index if tpl[1].symbol=='AAL']].fillna(method='ffill')

In [ ]:
mcap_appl.mcap.unique()

In [ ]:
#idx = pd.IndexSlice
#[x.symbol for x in result_pipe.index.get_level_values(1)]
#X=result_pipe.index.get_level_values(1)
#X[0].symbol
#result_pipe.loc[idx[:, sid.sid==21], :]

In [ ]:

#missing_values_table(result_pipe)

In [ ]:
#loaders[Fundamentals.MarketCap].assets

In [ ]:
#df.index.names=['Date','Asset']
#df=df.sort_index()
#df=df.sort_index()
#p = get_pricing(['SPY','TLT'])  
#SPY = p.axes[2][0]  
#f = get_pricing(['AAPL', 'MSFT'], '2016-08-01', '2017-12-28')
#f.axes

In [ ]:
#X=df.unstack(level=1).sort_index()
#X

In [ ]:
#result_pipe.index.get_level_values(0)

In [ ]:
#dir(df.index)
#df.index.summary()
#df['MCAP'][df['MCAP']>0]
len([x.sid for x in result_pipe.index.get_level_values(1) if x.symbol=='MSFT'])

In [ ]:
result_pipe

In [ ]:
[x for x in result_pipe.index.get_level_values(1) if x.symbol=='MSFT']

In [ ]:
#df.['2017-01-01':'2017-02-01']
#import datetime
#tlim=pd.to_datetime('2017-01-01').tz_localize('UTC')
#df.loc[df.index.get_level_values(level = 0) >= tlim] 
#df.index.get_level_values(level = 1)

In [ ]:
#import datetime
#pd.to_datetime(datetime.date(2017,1,1)).tz_localize('UTC')

In [ ]:
##from zipline.algorithm import attach_pipeline, pipeline_output  
#from zipline.pipeline import Pipeline, CustomFactor  
#import numpy as np
#
#class SidFactor(CustomFactor):  
#    inputs = []  
#    window_length = 1  
#    sids = []
#
#    def compute(self, today, assets, out):  
#        out[:] = np.in1d(assets, self.sids)
#
#def initialize(context):  
#    sid = SidFactor()  
#    sid.sids = (19662, 40107)
#
#    pipe = Pipeline(  
#        columns={ 'sid': sid },  
#        screen=sid.eq(1))
#
#    attach_pipeline(pipe, 'pipe')     
#
#def handle_data(context, data):  
#    print(pipeline_output('pipe'))