In [19]:
import pandas as pd
from alphatools.research import loaders
from zipline.pipeline.data import Column
from zipline.pipeline.data import DataSet
from zipline.pipeline.loaders.frame import DataFrameLoader

from os import path
import os, sys, inspect
import pprint

cur_folder    = os.path.realpath(os.path.abspath(os.path.split(inspect.getfile( inspect.currentframe() ))[0]))

enac_fundamentals_pkl = os.path.realpath(os.path.abspath(os.path.join(cur_folder,'sharadar_with_sid.pkl')))

if cur_folder not in sys.path:
    sys.path.insert(0, cur_folder)
print ("cur_folder=", cur_folder)
print ("enac_fundamentals_pkl=", enac_fundamentals_pkl)
#myfile_path = path.join(path.dirname(__file__), 'myfile.txt')

df = pd.read_pickle(enac_fundamentals_pkl)

cur_folder= /home/ubuntu/hca/alphatools/notebooks
enac_fundamentals_pkl= /home/ubuntu/hca/alphatools/notebooks/sharadar_with_sid.pkl

In [20]:
df.sid.unique()

array([4516.,   nan, 7262.])

In [22]:
df[['ticker','marketcap', 'sid']].index.unique()

DatetimeIndex(['2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
               '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
               '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
               '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
               '2019-03-31'],
              dtype='datetime64[ns, UTC]', name='Date', freq=None)

In [23]:
df[['ticker','marketcap', 'sid']]

                          ticker     marketcap     sid
Date
2014-03-31 00:00:00+00:00      A  1.914584e+10  4516.0
2014-06-30 00:00:00+00:00      A  1.936708e+10  4516.0
2014-09-30 00:00:00+00:00      A  1.404328e+10  4516.0
2014-12-31 00:00:00+00:00      A  1.364397e+10  4516.0
2015-03-31 00:00:00+00:00      A  1.343096e+10  4516.0
2015-06-30 00:00:00+00:00      A  1.177476e+10  4516.0
2015-09-30 00:00:00+00:00      A  1.356254e+10  4516.0
2015-12-31 00:00:00+00:00      A  1.248476e+10  4516.0
2016-03-31 00:00:00+00:00      A  1.489262e+10  4516.0
2016-06-30 00:00:00+00:00      A  1.528177e+10  4516.0
2016-09-30 00:00:00+00:00      A  1.486797e+10  4516.0
2016-12-31 00:00:00+00:00      A  1.656949e+10  4516.0
2017-03-31 00:00:00+00:00      A  1.931238e+10  4516.0
2017-06-30 00:00:00+00:00      A  2.082549e+10     NaN
2017-09-30 00:00:00+00:00      A  2.181018e+10     NaN
2017-12-31 00:00:00+00:00      A  2.196388e+10     NaN
2018-03-31 00:00:00+00:00      A  1.981144e+10  7262.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2015-12-31 00:00:00+00:00     AA           NaN  4516.0
2016-09-30 00:00:00+00:00     AA  5.281265e+09  4516.0
2016-09-30 00:00:00+00:00     AA  6.864913e+09  4516.0
2016-12-31 00:00:00+00:00     AA  6.472955e+09  4516.0
2017-03-31 00:00:00+00:00     AA  5.726185e+09  4516.0
2017-06-30 00:00:00+00:00     AA  6.837153e+09     NaN
2017-09-30 00:00:00+00:00     AA  8.864449e+09     NaN
...                          ...           ...     ...
2014-06-30 00:00:00+00:00    HCR  2.296242e+09  4516.0
2014-09-30 00:00:00+00:00    HCR  1.516528e+09  4516.0
2014-12-31 00:00:00+00:00    HCR  1.344930e+09  4516.0
2015-03-31 00:00:00+00:00    HCR  1.195247e+09  4516.0
2015-06-30 00:00:00+00:00    HCR  6.367996e+08  4516.0
2015-09-30 00:00:00+00:00    HCR  2.491055e+08  4516.0
2015-12-31 00:00:00+00:00    HCR  1.619677e+08  4516.0
2016-03-31 00:00:00+00:00    HCR  3.016973e+08  4516.0
2016-06-30 00:00:00+00:00    HCR  5.572388e+08  4516.0
2016-09-30 00:00:00+00:00    HCR  1.079177e+09  4516.0
2016-12-31 00:00:00+00:00    HCR  1.363124e+09  4516.0
2017-03-31 00:00:00+00:00    HCR  1.310658e+09  4516.0
2017-06-30 00:00:00+00:00    HCR  7.646561e+08     NaN
2017-09-30 00:00:00+00:00    HCR  9.649255e+08     NaN
2017-12-31 00:00:00+00:00    HCR  1.074019e+09     NaN
2018-03-31 00:00:00+00:00    HCR  1.073965e+09  7262.0
2018-06-30 00:00:00+00:00    HCR  1.259589e+09  7262.0
2018-09-30 00:00:00+00:00    HCR  8.099545e+08     NaN
2018-12-31 00:00:00+00:00    HCR  4.315364e+08     NaN
2019-03-31 00:00:00+00:00    HCR  3.639808e+08  7262.0
2017-06-30 00:00:00+00:00   PACK           NaN     NaN
2017-09-30 00:00:00+00:00   PACK           NaN     NaN
2017-12-31 00:00:00+00:00   PACK  4.125000e+08     NaN
2018-03-31 00:00:00+00:00   PACK  4.125000e+08  7262.0
2018-06-30 00:00:00+00:00   PACK  4.248750e+08  7262.0
2018-09-30 00:00:00+00:00   PACK  4.021875e+08     NaN
2018-12-31 00:00:00+00:00   PACK  4.199250e+08     NaN
2019-03-31 00:00:00+00:00   PACK  4.228125e+08  7262.0
2018-12-31 00:00:00+00:00   CTVA           NaN     NaN
2018-09-30 00:00:00+00:00   PAAC           NaN     NaN

[100193 rows x 3 columns]

In [25]:
MarketCap_frame = df[['marketcap', 'sid']].reset_index().set_index(['Date','sid'], append=True).sort_index().unstack()
#MarketCap_frame.columns = MarketCap_frame.columns.droplevel()

In [26]:
MarketCap_frame.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 100193 entries, (0, 2014-03-31 00:00:00+00:00) to (100192, 2018-09-30 00:00:00+00:00)
Data columns (total 3 columns):
(marketcap, nan)       22702 non-null float64
(marketcap, 4516.0)    61682 non-null float64
(marketcap, 7262.0)    13135 non-null float64
dtypes: float64(3)
memory usage: 3.5 MB

In [ ]:
MarketCap_frame = df[['marketcap', 'sid']].reset_index().set_index(['Date','sid'], append=True).sort_index().unstack().fillna(method='ffill')
MarketCap_frame.columns = MarketCap_frame.columns.droplevel()

PriceToBook_frame = df[['pb', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
PriceToBook_frame.columns = PriceToBook_frame.columns.droplevel()

PriceToSales_frame = df[['ps', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
PriceToSales_frame.columns = PriceToSales_frame.columns.droplevel()

PriceToEarnings_frame = df[['pe', 'sid']].reset_index().set_index(['Date', 'sid'], append=True).sort_index().unstack().fillna(method='ffill')
PriceToEarnings_frame.columns = PriceToEarnings_frame.columns.droplevel()

In [ ]:
class Fundamentals(DataSet):
    MarketCap = Column(dtype=float)
    PriceToBook = Column(dtype=float)
    PriceToSales = Column(dtype=float)
    PriceToEarnings = Column(dtype=float)

# register the loaders
loaders[Fundamentals.MarketCap] = DataFrameLoader(Fundamentals.MarketCap, MarketCap_frame)
loaders[Fundamentals.PriceToBook] = DataFrameLoader(Fundamentals.PriceToBook, PriceToBook_frame)
loaders[Fundamentals.PriceToSales] = DataFrameLoader(Fundamentals.PriceToSales, PriceToSales_frame)
loaders[Fundamentals.PriceToEarnings] = DataFrameLoader(Fundamentals.PriceToEarnings, PriceToEarnings_frame)